.tc {
    text-align: center;
}

.d-none {
    display: none;
}
.d-block {
    display: block;
}
.clearfix {
    overflow: auto;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
